.form-currency-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.form-currency-symbol {
    position: absolute;
    left: 12px;
    color: #616161;
    font-weight: 500;
    z-index: 1;
}

.form-currency-input {
    padding-left: 32px;
}

.form-currency-preview {
    margin-top: 4px;
    font-size: 12px;
    color: #0078d4;
    font-weight: 500;
}